* {
    margin: 0;
    color: #fff;
}

header {
   background-image: url(Images/image-header.jpg);
   height: 50vh;
   padding-block: 5vh;
   padding-inline: 5vw;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header ul { 
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 20px;
    align-items: center;
}

header ul a {
    text-decoration: none;
}

header ul li:nth-child(4) {
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 50px;
    font-weight: 900;
    text-transform: uppercase;
}

header ul li:nth-child(4) a {
    color: #000;
}

header ul li:nth-child(4) a:hover {
    cursor: pointer
}

header h1 {
    text-align: center;
    text-transform: uppercase;
}

header h1+img {
    display: block;
    margin: auto;
    margin-top: 5px;
    height: 70px;
    animation: bounce 2s linear infinite;
    position: relative;
}

@keyframes bounce {
    from {
        top: 70px;
    }
}



.ham {
    display: none;
}

main div {
    height: 50vh;
    background-position: center;
    background-size: cover;
    
}

main {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main div:nth-child(1), main div:nth-child(4) {
    padding-left: 25px;
}

main div:nth-child(1) h1, main div:nth-child(4) h1 {
    padding-top: 50px;
    color: #000;
    font-size: 2.3rem;
    font-family: 'Fraunces', serif;
}

main div:nth-child(1) p, main div:nth-child(4) p {
    padding-top: 25px;
    color: #183531;
    font-family: 'Barlow', sans-serif;
    opacity: 0.8;
}

main div:nth-child(1) h5, main div:nth-child(4) h5 {
    padding-top: 25px;
    color: #2b4224;
    font-family: 'Fraunces', serif;
}

main div:nth-child(2) {
    background-image: url(Images/image-transform.jpg);
}

main div:nth-child(3) {
    background-image: url(/Images/image-stand-out.jpg);
}

main div:nth-child(5) {
    background-image: url(Images/image-graphic-design.jpg);
}

main div:nth-child(5) h1, main div:nth-child(6) h1 {
    text-align: center;
    padding-top: 190px;
    color: #093d36;
    font-family: 'Fraunces', serif;
}

main div:nth-child(5) p, main div:nth-child(6) p {
    text-align: center;
    padding-top: 20px;
    color: #093d36;
    font-family: 'Barlow', sans-serif;
}



main div:nth-child(6) {
    background-image: url(/Images/image-photography.jpg);
}

section h2 {
    text-align: center;
    font-size: 25px;
    margin-top: 100px;
    letter-spacing: 6px;
    font-weight: 900;
    color: #083832;
    font-family: 'Fraunces', serif;
    opacity: 0.5;
}

section .opacity {
    font-family: 'Barlow', sans-serif;
    opacity: 0.7;
}

section h4 {
    position: relative;
    margin-bottom: 16px;
    margin-top: 30px;
}

section img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    align-items: center;
}

section h4+p {
    opacity: 0.5;
 }


section div.testimonials {
    display: flex;
    padding: 45px;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}



section p, section h4 {
    color: #000;
}

section h4 {
    font-family: 'Fraunces', sans-serif;
}


article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

article div {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}


article div:nth-child(1) {
background-image: url(/Images/image-gallery-milkbottles.jpg);
}
article div:nth-child(2) {
    background-image: url(/Images/image-gallery-orange.jpg);
}
article div:nth-child(3) {
    background-image: url(/Images/image-gallery-cone.jpg);
}
article div:nth-child(4) {
    background-image: url(/Images/image-gallery-sugarcubes.jpg);
}

footer {
    background-color: #7fd4c8;
    opacity: 0.7;
}

footer h1 {
    text-align: center;
    margin-left: 20px;
    padding-top: 55px;
    font-size: 45px;
    color: #083832;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    margin-right: 27px;
    flex-flow: row;
    align-items: center;
    font-family: 'Barlow';
}

footer ul a {
    text-decoration: none;
    display: block;
    padding: 1em;
    font-size: 20px;
    padding-top: 15px;
    color: #083832;
}

footer ul+div {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    padding-bottom: 16px;
    margin-left: px;
    gap: 20px;
}

         


         /* Mobile */

@media (max-width: 900px) {
 
    header {
        background-image: url(Images/mobile/image-header.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
    }

    header ul {
        display: none;
    }

    .ham {
        display: block;
    }

    header h1 {
        margin-top: 16px;
        text-align: center;
        text-transform: uppercase;
        margin-inline: 10vw;
        letter-spacing: 9px;
    }
    
    header h1+img {
        display: block;
        margin: auto;
        margin-top: 5px;
        height: 70px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    main div {
        height: 60vh;
    }

    main div:nth-child(5), main div:nth-child(6) {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }


    main div:nth-child(1) {
        order: 2;
    }

    main div:nth-child(2) {
        order: 1;
    }

    main div:nth-child(3) {
        order: 3;
    }

    main div:nth-child(4) {
        order: 4;
    }
    main div:nth-child(5) {
        order: 5;
    }

    main div:nth-child(6) {
        order: 6;
    }

    main div:nth-child(1) h1, main div:nth-child(4) h1 {
        text-align: center;
        margin-inline: 9vw;
        padding-top: 40px;
    }

    main div:nth-child(1) p, main div:nth-child(4) p {
        text-align: center;
        padding-right: 14px;
        margin-inline: 2vw;
        font-size: 20px;
        padding-top: 50px;
        color: #183531;
    }

    main div:nth-child(1) h5, main div:nth-child(4) h5 {
        text-align: center;
        padding-top: 60px;
        font-size: 18px;
        color: #2b4224;
    }

    main div:nth-child(5) h1, main div:nth-child(6) h1 {
       text-align: center;
       position: relative;
       top: 40px;
       opacity: 0.6;
       font-size: 2.4rem;
    }
    
    main div:nth-child(5) p, main div:nth-child(6) p {
        text-align: center;
        padding-top: 20px;
        margin-inline: 6vw;
        font-size: 20px;
        position: relative;
        top: 40px;
        opacity: 0.6;
    }
    
    section div.testimonials {
        display: flex;
        flex-direction: column;
    }

    section div.testimonials>div {
        margin-top: 40px;
    }

    section .opacity {
        padding-top: 15px;
        font-size: 20px;
    }

    section h4 {
        font-size: 18px;
        font-weight: bolder;
    }    

    section h4+p {
       position: relative;
       bottom: 10px;
       font-size: 16px;
    }

    article {
        grid-template-columns: repeat(2, 1fr);
    }

    article div {
        height: 30vh;
    }
    
    
}


      